@page
@model GYMPT.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Discipline</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discipline.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline.LastModification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discipline.LastModification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discipline.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discipline.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline.IdInstructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discipline.IdInstructor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discipline.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discipline.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Discipline.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
